.containerDetalle{
  background-color: black;
  padding-top: 3rem;
  padding-left:26rem ;
}


.detalleCard{
   /* background-image: url("../imagen/pokemon.jpg");  */
   width: 358px;
   height: 42rem;
   padding-top: 2rem;
   padding-left:8rem;
   padding-right: 8rem;
   background: rgb(178, 207, 224);
   transition: all 300ms;
   border-radius: 30px;
   font-size:medium;
   font-family: calibri, serif;
   text-align: center;
   opacity: 1.0;
}

.imgDetalle{
  padding-bottom: 0rem;
  width: 210px;
  opacity: 2.0;
}

.btnDetalle{
  background-color: black;
  font-size: small;
  color: #c03f1f;
  font-style:normal;
  border-radius: 10px;
 
}
